.btn {
  color: black;
  padding: 12px 24px;
  background-color: #FCEEF2;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(20,20,20,0.8);
  transition: 0.4s;
}

.btn:hover {
    /* background-color: rgb(177, 109, 128); */
  /* border: 1px solid #e4e3d3; */
  background-color: #f599b3;
}
